.imagenbg{
    color: #FFF;
    height: 100%;
    max-width: 120rem;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titulo{
    font-size: 4rem;
    margin: 0;
    max-width: 800px;
    text-align: center;
}

@media (min-width: 992px){
    .titulo{
        font-size: 5rem;
    }
}